SNOWFLAKE_USER=vinskidev
SNOWFLAKE_PASSWORD=14mysymHusky1502024
SNOWFLAKE_ACCOUNT=jcrzlkr-hk55509
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=INSURANCE_DW
SNOWFLAKE_SCHEMA=RAW
